# systemd service for managing all PostgreSQL clusters on the system. This
# service is actually a systemd target, but we are using a service since
# targets cannot be reloaded.

[Unit]
Description=PostgreSQL cluster "karat"
After = network.target
ConditionPathExists=/home/postgres/karat/postgresql.conf
#WorkingDirectory=/home/postgres/karat

#ZZKillUserProcesses=false


[Service]
Type=forking
#Type=notify
ExecStart=/home/postgres/dist-karat/bin/pg_ctl  -D /home/postgres/karat   start -w
ExecStop=/home/postgres/dist-karat/bin/pg_ctl  -D /home/postgres/karat   stop
ExecReload=/bin/kill -HUP  $MAINPID
OOMScoreAdjust=-900
User=postgres
#Environment=PGDATA=/home/postgres/karat
Environment=PGCONFIG=/home/postgres/dist-karat/bin/pg_config

#Group=postgres
#Restart=on-failure


RemoveIPC=no

#RekaratAfterExit=on

[Install]
WantedBy=multi-user.target
