---
################################## Helper Variables
- shell:  uname -s
  register: result

- set_fact: 
     os_family:  "{{ result.stdout }}"
     cluster:    "{{ cluster_path | regex_search('([a-zA-Z]*)$') }}"

- set_fact: 
- set_fact: 
      HOME:  "/home"
      SHELL: "/bin/bash"
  when:  os_family == "Linux"

- set_fact: 
      HOME:  "/Users"
      SHELL: "/bin/bash"
  when:  os_family == "Darwin"

- set_fact: 
     HOME:   "/home"
     SHELL:  "/usr/local/bin/bash"
  when:  os_family == "FreeBSD"

- stat:      path="{{ ansible_env.HOME }}/dist-pg/share/extension/timescaledb.control"
  register:  ts_control

########## asset existance of  symlink  ~postgres/dist-{{ cluster}}
- name:  "pg-{{postgres_REL}}"
  stat:   path="{{ HOME }}/postgres/pg-{{postgres_REL}}" 
  register: des

- name:  assert "pg-{{postgres_REL}}"
  assert:   that="des.stat.isdir"   quiet=yes 

#################################################     M A I N
- name:             assert ansible executing as unix user postgres
  assert:        
     that:          ansible_user_id == "postgres"
     fail_msg:      "Detected ansible_user_id='{{ ansible_user_id}}'. Must run as 'postgres'"
     success_msg:   "Running as {{ ansible_user_id}}"
     quiet:         true

- name :         /var/log/postgres 
  become_user:   root
  become:        yes
  file:          path=/var/log/postgresql   state=directory   owner=postgres  mode=0750

- name:           ensure no postmaster running at  cluster
  shell:          "pg_ctl -D {{ cluster_path }} stop"
  ignore_errors:  True
  environment:  
     PATH:        "{{ HOME }}/postgres/dist-pg/bin:{{ ansible_env.PATH}}:/usr/bin"

- name:          rm -rf ~/{{ cluster_path }}/*
  when:          purge_directory
  shell:         "rm -rf {{cluster_path}}/*"
  #if not a mountpoit#    file: dest="{{HOME}}/postgres/{{cluster_path}}"  state=absent


- name:         "initdb  {{ initdb_options}} {{ cluster_path }}"
  shell:        "initdb {{ initdb_options}} {{ cluster_path }}"
  environment:
     PATH:        "{{ HOME }}/postgres/pg-{{postgres_REL}}/bin:{{ ansible_env.PATH}}:/usr/bin"

################## conf.d    ##########################################################################
 
- name:         mkdir conf.d
  file:         dest="{{ cluster_path }}/conf.d"  state=directory

- name:         ssl keys
  copy:         src="ssl/{{item}}"  dest="{{ cluster_path }}"  owner=postgres  group=postgres  mode=0644
  with_items:
      - server.crt 
      - root.crt
      - server.key

- name:         ssl server key
  file:         dest="{{ cluster_path }}/server.key"  owner=postgres  group=postgres  mode=0600

- name:        conf.d/
  lineinfile:
     path:         "{{ cluster_path }}/postgresql.conf"
     insertbefore:  EOF
     line:         "include_dir = 'conf.d'"


- name:         io_1.conf
  template:    src=io_1.conf.j2   dest="{{ cluster_path }}/conf.d/io_1.conf"  owner=postgres

- name:            shared_preload_libraries
  lineinfile:
     path:         "{{ cluster_path }}/conf.d/io_1.conf"
     insertafter:  ^#shared_preload_libraries
     line:         shared_preload_libraries       = 'timescaledb'
  when:           
      -  false
      - ts_control.stat.exists

- name:         pg_hba
  template:     src=pg_hba.conf.j2   dest="{{ cluster_path }}/pg_hba.conf"  owner=postgres


- name:         mode=0600    for server.key, pg_hba.conf
  file:         path="{{ cluster_path }}/{{ item }}"  owner=postgres  group=postgres  mode=600
  with_items:
      - server.key
      - pg_hba.conf
 

        #- name:       ~/.bash_pg
        #replace:    dest="{{ HOME }}/postgres/.bash_pg"  regexp='543.'  replace="{{pport}}"
        #ignore_errors: yes
#####################################################################################################
#
- include:  systemd.yml
  when:  
     -   os_family == 'Linux'
