{{ "%-30s = %-50s" | format('port', pport)                                  }}
{{ "%-30s = %-50s" | format('max_prepared_transactions', 2)                 }}
{{ "%-30s = '%s'"  | format('cluster_name', cluster_path | basename)        }}
{{ "%-30s = %-50s" | format('idle_in_transaction_session_timeout', '30min') }}
#listen_addresses              = '{{ ['localhost']|union(ansible_all_ipv4_addresses)|join(',')}}'
{{ "%-30s = %-50s" | format('max_connections', 80)            }}
{{ "%-30s = %-50s" | format('wal_level', 'hot_standby')       }}
{{ "%-30s = %-50s" | format('wal_level', 'logical')           }}
{{ "%-30s = %-50s" | format('max_wal_senders', '5')           }}
{{ "%-30s = %-50s" | format('wal_keep_segments', '3')         }}
{{ "%-30s = %-50s" | format('hot_standby', 'on')              }}
{{ "%-30s = %-50s" | format('max_replication_slots','5')      }}
{{ "%-30s = %-50s" | format('log_replication_commands','on')  }}
{{ "%-30s = %-50s" | format('hot_standby_feedback','on')      }}
{{ "%-30s = %-50s" | format('archive_mode','off')             }}
#
{{ "%-30s = '%s%s'"   | format( 'log_filename',  cluster_path | basename , '-%d.log')                          }}
{{ "%-30s = '%s%s'"   | format('#archive_command', 'cp %p  ~postgres/xlog/', cluster_path | basename)          }} 
{{ "%-30s = %-50s"    | format('#archive_timeout', '600')                                                      }} 
{{ "%-30s = '%s %s'"  | format('archive_command', '~postgres/xlog/archiver  %p %f ', cluster_path | basename)  }} 

{{ "%-30s = %-50s"    | format('#shared_preload_libraries', 'pg_stat_kcache,pg_qualstats')                     }} 
{{ "%-30s = %-50s"    | format('#shared_preload_libraries', 'pg_hibernator,pg_stat_statements,powa,pg_stat_kcache,pg_qualstats')   }} 
{{ "%-30s = %-50s"    | format('#shared_preload_libraries', 'citus,cstore_fdw')                               }} 

{{ "%-30s = %-50s"    | format('track_activity_query_size',2048)                                              }}
{{ "%-30s = %-50s" | format('track_io_timing','off')                        }}

{{ "%-30s = %-50s" | format('#pg_hibernator.enabled','true')                }}
{{ "%-30s = %-50s" | format('#pg_hibernator.default_database','postgres')   }}
{{ "%-30s = %-50s" | format('vacuum_defer_cleanup_age', 10000)              }}
{{ "%-30s = %-50s" | format('vacuum_freeze_min_age', 200000)                }}
{{ "%-30s = %-50s" | format('autovacuum_freeze_max_age', 500000000)         }}  # 500 mil
{{ "%-30s = %-50s" | format('vacuum_freeze_table_age', 475000000)           }}

{{ "%-30s = %-50s" | format('#shared_preload_libraries', '$libdir/pgmemcache')           }}
{{ "%-30s = %-50s" | format('#shared_preload_libraries', '$libdir/pg_stat_statements')   }}
{{ "%-30s = %-50s" | format('track_functions', 'pl')                                     }}
{{ "%-30s = %-50s" | format('#pgmemcache.default_servers', 'localhost:11211')            }}
{{ "%-30s = %-50s" | format('#pgmemcache.default_behavior', 'BINARY_NOREPLY:1')          }}

{{ "%-30s = %-50s" | format('ssl', 'off')                            }}
{{ "%-30s = %-50s" | format('ssl_cert_file', "'server.crt'")         }}
{{ "%-30s = %-50s" | format('ssl_ca_file', "'root.crt'")             }}
{{ "%-30s = %-50s" | format('#ssl_crt_file', "''")                   }}
 
{{ "%-30s = %-50s" | format('#wal_sync_method','fsync_writethrough') }}

{{ "%-30s = %-50s" | format('synchronous_commit', 'off')             }}
{{ "%-30s = %-50s" | format('#effective_cache_size', '3216MB')       }}
{{ "%-30s = %-50s" | format('#shared_buffers', '256MB')              }}
{{ "%-30s = %-50s" | format('effective_cache_size', '1330MB')        }}
{{ "%-30s = %-50s" | format('#effective_io_concurrency', 1)          }}
{{ "%-30s = %-50s" | format('#shared_buffers', '1186MB')             }}
{{ "%-30s = %-50s" | format('shared_buffers', '300MB')               }}
{{ "%-30s = %-50s" | format('maintenance_work_mem', '300MB')         }}
{{ "%-30s = %-50s" | format('work_mem', '42MB')                      }}  # for 40 connections
{{ "%-30s = %-50s" | format('wal_buffers', '16MB')                   }} 
{{ "%-30s = %-50s" | format('wal_compression', 'off')                }} 
{{ "%-30s = %-50s" | format('#checkpoint_segments', 8)               }} 
{{ "%-30s = %-50s" | format('#min_wal_size', '200MB')                }} # for busy sites
{{ "%-30s = %-50s" | format('checkpoint_completion_target', '0.8')   }} 


logging_collector           =  on
log_destination             = 'stderr'
#log_destination            = 'stderr,csvlog'
log_directory               = '/var/log/postgresql'
log_filename                = '{{ cluster_path | basename}}-%d.log'
log_truncate_on_rotation    =  on
log_rotation_age            =  1440   # 1 day
log_autovacuum_min_duration =  0
log_min_duration_statement  =  20 # 90
log_temp_files              =  1
log_statement               =  none
log_connections             =  on
log_disconnections          =  off   # replay
#log_statement              =  all  # replay
#log_min_error_statement    =  log  # replay
#log_line_prefix            = '%m|%u|%d|%c|'  #(if replay stderr
#log_line_prefix            =  '%t [%p]: [%l-1] '    # fouine
log_line_prefix             = '%t [%p,%a]: [%l-1] user=%u,db=%d '
log_checkpoints             =  on
log_lock_waits              =  on
#log_timezone               = 'US/Pacific'
log_timezone                = 'US/Eastern'

bgwriter_lru_maxpages       =  1000  
bgwriter_lru_multiplier     =  10
ioannis.hostport            = '{{ cluster_path | basename}}.{{ pport }}'
